@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  color: #011936;
}

body{
  box-sizing: border-box;
}

/* header */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 16vh;
  background-color: #FECF0A;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
header .img {
  width: 150px;
}

header nav ul li ~ li {
  border-left: 2px solid #011936;
}
header nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 1.5rem;
}
header nav ul li a {
  color: #011936;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
header nav ul li a:hover {
  border-bottom: 2px solid #011936;
}

/* main */
main {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

.article {
  display: flex;
  flex-direction: column;
}

.flex {
  padding-top: 16vh;
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quero-conversar {
  background-color: #FECF0A;
  display: inline-block;
  padding: .5rem 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  font-weight: bold;
  border-bottom: 1px solid #fecf0a;
}
.quero-conversar:hover {
  /* background-color: #facf0a; */
  cursor: pointer;
  border-bottom: 1px solid #011936;
}
.quero-conversar + p {
  width: 40vw;
  margin: 0 auto;
  text-align: left;
}

.flex article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.links {
  padding: 2rem;
  border-radius: 8px;
  border: solid 1px #fff;
}

.links:hover {
  border: solid 1px #fecf0a;
  background-color: #fecf0a;
}

.links a, p {
  text-decoration: none;
  color: #011936;
  margin: 0;
  padding: 0;
}

.links img {
  height: 6rem;
}
/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 3px #fecf0a;
  background-color: #e3e6e3;
  padding: 2rem;
}

footer img {
  width: 25%;
}